<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>測試網站</title>
</head>
<body>
    <h1>測試網站</h1>
    <form action="/comment" method="post">
        名字: <input type="text" name="name"><br>
        評論: <input type="text" name="comment"><br>
        <input type="submit" value="提交">
    </form>
    <hr>
    <form action="/search" method="get">
        搜索評論: <input type="text" name="query"><br>
        <input type="submit" value="搜索">
    </form>
</body>
</html>
